body {
    padding: 20px;
}

// .navbar-inverse .navbar-nav > li > a {
//     color: red;
// }

.panel-look (@color, @font-color: #fff) {
    // Set the panel styling.
    border-color: @color;

    // Update the panel header.
    .panel-heading {
        background: @color;
        border-color: @color;
        color: @font-color;

        h2, h3 {
            font-size: 20px;
            margin: 0;
        }
    }
}

.panel-success {
    // Set the look of the panel.
    .panel-look (#5cb85c);
}

.panel-warning {
    // Set the look of the panel.
    .panel-look (#f0ad4e);
}

.panel-danger {
    // Set the look of the panel.
    .panel-look (#a94442);
}
